/*
 * skin for default
 */
.popup-box{position:fixed !important;z-index:200;left:50%;top:50%;width:500px;height:300px;border:1px solid #000;box-shadow:0 0 12px #aaa;background-color: #fff;}

.popup-header{text-align:center;background-color:#000000;color:#fff;line-height:2em;font-size:1.6rem;}

.popup-body{padding:10px;}

.popup-footer{text-align:center;}
.popup-closeBtn{position:absolute;z-index:1000;cursor:pointer;width:30px;height:30px;top:0;right:0;background-color: red;}
.popup-alertBtn{position:absolute;left:50%;bottom:10px;margin-left:-50px;width:100px;}
.popup-confirmBtn{width:100px;}
.popup-cancelBtn{width:100px;}

.popup-mask{background-color: #000000;z-index:100;opacity: 0.3;height: 100%;width:100%;position:fixed;left:0;top:0;}

/*
 * skin for a
 */
.popup-skin-a.popup-box{border:5px solid #000;border-radius:5px;}

.popup-skin-a .popup-closeBtn{border-radius: 15px;text-align: center;line-height: 30px;font-size:30px;top:-15px;right:-15px;}

.popup-skin-a .popup-alertBtn{border:1px solid #bbb;border-radius:3px;padding:0px 10px;left:auto;right:30px;line-height: 2;}