/*
 * skin for default
 */

.layer-box {
    border: 1px solid #000;
    background-color: #fff;
    transform: translate(0, -100%);
}

.drop {
    transition: transform 0.5s linear;
}

.layer-box.in {
    transform: translate(0, 0);
}

.layer-head {
    text-align: center;
    background-color: #000000;
    color: #fff;
    line-height: 2em;
    font-size: 1.6rem;
}

.layer-body {
    padding: 10px;
}

.layer-foot {
    text-align: center;
    margin-bottom: 10px;
}

.btn-yes, .btn-no {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
    border: none;
    cursor: pointer;
    color: #fff;
}

.btn-yes {
    background-color: green;
}

.btn-no {
    background-color: red;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 1000;
    cursor: pointer;
    background-color: red;
    border-radius: 15px;
    border: none;
}


/*
 * skin for a
 */

.popup-skin-a.popup-box {
    border: 5px solid #000;
    border-radius: 5px;
}

.popup-skin-a .popup-closeBtn {
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    top: -15px;
    right: -15px;
}

.popup-skin-a .popup-alertBtn {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0px 10px;
    left: auto;
    right: 30px;
    line-height: 2;
}
